<div class="border border-black p-4">
  <p style="color: green"><%= notice %></p>

  <div class='flex justify-between pb-2'>
    <div class="underline">Quotes</div>
    <div>
      <%= link_to "New Quote", new_quote_path, class:"border border-black p-2", data: {turbo_frame: 'new_quote'} %>
    </div>
  </div>

  <!-- Divider -->
  <div class="border-t border-black mt-2 mb-2"></div>
  <!-- Divider -->

  <div class='py-2'><%= turbo_frame_tag 'new_quote'%></div>

  <%= turbo_frame_tag 'quotes' do%>
    <%= render @quotes%>
  <% end %>
  
</div>
